html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    background-color: antiquewhite;
}

h1 {
    margin-top: 10px;
    background-color: rgba(66, 51, 9, 0.603);
    color: black;
    border: 2px dashed black;
    height: 60px;
    padding-top: 20px;
}

input {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    height: 50px;
    font-size: 30px;
    border: 0;
    color: black;
    text-align: center;
    box-shadow: 4px -2px 8px 5px;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

li:hover {
    text-decoration: line-through;
}